body {
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

.full-width {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  padding-left:$unit_m;
  padding-right:$unit_m;
}

page {
  min-height: calc(100vh - 138px);
}
