<page class="home" data-page="home">
    <section class="header">
        <div class="full-width">
            <div class="holder">
                <p class="progress">34/97 Tasks</p>
                <h1 class="title">Project title</h1>
                <p class="description">Project description</p>
            </div>
        </div>
    </section>
    <section class="list">
        <div class="full-width">
            <div class="holder">
                <div class="item">
                    <div class="status">V</div>
                    <div class="info">
                        <h3 class="name">Task name</h3>
                        <p class="description">Task description</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</page>