@import url('https://fonts.googleapis.com/css?family=Roboto');

body, input, select {
  font-family: 'Roboto', 'SNFS', 'Segoe UI', Verdana, sans;
}


h1 {
  font-size: 40px;
  color: $textDark;
  margin-bottom: 0;

  @include mobile {
    font-size: 24px;
  }
}

h2 {
  font-size: 30px;
  color: $textDark;
  padding-bottom: $unit;
  margin-bottom: 0;

  @include mobile {
    font-size: 16px;
  }
}

a {
  color: $textLink;
}

text {

}
