$unit_xxs: 	4px;
$unit_xs: 	6px;
$unit_s: 	  8px;
$unit: 	    12px;
$unit_m:    16px;
$unit_l: 	  24px;
$unit_xl: 	36px;
$unit_xxl: 	48px;
$unit_xxxl: 60px;

$primary: #049dff;
$secondary: #ff902e;
// $tertiary: #000000;
// $quaternary: #000000;

$white: #FFF;
$textDark: #363636;
$borderLight: #AAA;
$textLink: blue;
