$hamburgers-padding-x: 0px;
$hamburgers-padding-y: 0px;
$hamburger-types     : (elastic);
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 5px;
$hamburger-padding-x: 10px;
$hamburger-padding-y: 10px;

@import "hamburgers/hamburgers";
